<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> styles}}    
    <title>Black and White Spa</title>
  </head>
  <body>
    <main class="container-fluid ">
      <div class="row p-3">
          <h1>Black and White Spa</h1>
      </div>
      <div class="row justify-content-center mt-5 ">
        {{> form}}
      </div>

    </main>
   {{> scripts}}
  </body>
</html> 